# Ignore node_modules in all child directories
**/node_modules/

# Ignore build/output directories in all children
**/build/
**/dist/

# Ignore environment files from all folders
**/.env*
**/.DS_Store

# Ignore log files everywhere
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

